<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AdminGesdoc</servlet-name>
        <servlet-class>com.gesdoc.servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlets</servlet-name>
        <servlet-class>com.gesdoc.servlet.UserServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DependenciaServlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.EntidadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentoServlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.DocumentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DependenciaServlets</servlet-name>
        <servlet-class>com.gesdoc.servlet.DependenciaServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntidadesServlets</servlet-name>
        <servlet-class>com.gesdoc.servlet.EntidadesServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ser</servlet-name>
        <servlet-class>com.gesdoc.servlet.ser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recibidoservlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.recibidoservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviadosServlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.EnviadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otrosservlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.otrosservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistarPDF</servlet-name>
        <servlet-class>com.gesdoc.servlet.RegistarPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEnviadoServlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.EditarEnviadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistarEnviadoServlets</servlet-name>
        <servlet-class>com.gesdoc.servlet.RegistarEnviadoServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarRecibidosServlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.EditarRecibidosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarOtrosServlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.EditarOtrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuariosServlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.EditarUsuariosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminGesdoc</servlet-name>
        <url-pattern>/AdminGesdoc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>com.gesdoc.servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlets</servlet-name>
        <url-pattern>/UserServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DependenciaServlet</servlet-name>
        <url-pattern>/DependenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentoServlet</servlet-name>
        <url-pattern>/DocumentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DependenciaServlets</servlet-name>
        <url-pattern>/DependenciaServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntidadesServlets</servlet-name>
        <url-pattern>/EntidadesServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ser</servlet-name>
        <url-pattern>/ser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recibidoservlet</servlet-name>
        <url-pattern>/recibidoservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviadosServlet</servlet-name>
        <url-pattern>/EnviadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otrosservlet</servlet-name>
        <url-pattern>/otrosservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistarPDF</servlet-name>
        <url-pattern>/RegistarPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEnviadoServlet</servlet-name>
        <url-pattern>/EditarEnviadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistarEnviadoServlets</servlet-name>
        <url-pattern>/RegistarEnviadoServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarRecibidosServlet</servlet-name>
        <url-pattern>/EditarRecibidosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarOtrosServlet</servlet-name>
        <url-pattern>/EditarOtrosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuariosServlet</servlet-name>
        <url-pattern>/EditarUsuariosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
