/* Estilos para el formulario */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos adicionales */
.dato {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

/* Estilos para mensajes de error o éxito (puedes personalizarlos más) */
.error {
    color: #FF0000;
    font-weight: bold;
}

.success {
    color: #008000;
    font-weight: bold;
}

