body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

form {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-box {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #333;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="file"] {
    display: none; /* Para ocultar el campo de carga de archivos por defecto */
}

.custom-file-input {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.custom-file-input:hover {
    background-color: #2980b9;
}

.form-submit {
    text-align: center;
}

input[type="submit"] {
    background-color: #27ae60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #219d54;
}


.jotform-form {

}
